.not-found {
    background-color: tomato;
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2em + 2vmin);
    font-weight: bold;
    text-align: center;
}