.footer {
    width: 100%;
    max-height: calc(20rem + 1vh);
    background-color: var(--blue-darker);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2em;
    img {
        width: 2rem;
        height: 2rem;
    }
}