:root {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  --black: #1E1E1E;
  --white: #F5F5F5;
  --light-blue: #7AB6C1;
  --blue: #096070;
  --dark-blue: #3E398C;
  --blue-darker: #171538; 
  --yellow: #e4b140;
  --pink: #e46cbc;
  --orange: #e82a00;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RESETEAMOS LOS MARGINS Y PADDINGS DE TODAS LAS ETIQUETAS */

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* EVITAMOS LOS PROBLEMAS CON LAS IMÁGENES CON ESTA CONFIGURACIÓN */

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

/* RESETEAMOS LOS ENLACES PARA QUE FUNCIONEN COMO CAJAS... */

a {
  display: block;
}

/* ...A EXCEPCIÓN DE LOS QUE SE ENCUENTRAN EN PÁRRAFOS */

p a {
  display: inline;
}

/* QUITAMOS LOS PUNTOS DE LOS <LI> */

li{
  list-style-type: none;
}

/* CONFIGURAMOS ANCLAS SUAVES */

html {
  scroll-behavior: smooth;
}

/* DESACTIVAMOS ESTILOS POR DEFECTO EN LAS PRINCIPALES ETIQUETAS DE TEXTO */

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* CONFIGURAMOS EL TEXTO QUE SELECCIONAMOS */

::selection {
  background-color: #3e398c;
  color: white;
}

/* NIVELAMOS PROBLEMAS DE TIPOGRAFÍAS Y COLOCACIÓN DE FORMULARIOS */

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto; /* esto es para el texto cuando está muy largo se le pone un guión para luego continuar */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

/* CONFIGURAMOS LA TIPOGRAFÍA PARA TODA LA WEB */

body {
  min-height: 100vh;
  font-size: 100%;
}

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.baloo-2-font {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
